body {
  font-family: Arial, sans-serif;
}

.card {
  border-radius: 10px;
}

.card-body {
  padding: 30px;
}

.btn-primary {
  background-color: #ff1100;
  border: none;
}

.btn-primary:hover {
  background-color: #0056b3;
}
